<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="jk.tutorial.demo.dao.BoardMapper">
    <!-- <sql id="title">
        <choose>
            <when test="title != null">
                #{title}
            </when>
            <otherwise>
                '제목없음'
            </otherwise>
        </choose>
    </sql>

    <sql id="content">
        <choose>
            <when test = "content != null">
                #{content}
            </when>
            <otherwise>
                '내용없음'
            </otherwise>
        </choose>
    </sql> -->

    <insert id="insertBoard" parameterType="boardDto">
        INSERT board
        SET
            No = null,
            Title = #{title},
            Content = #{content},
            originNo = #{no},
            Count = 0,
            Reg_Date = now()
    </insert>
    
    <insert id = "insertReplyBoard" parameterType="boardDto">
        INSERT board
        SET
            No = null,
            Title = #{title},
            Content = #{content},
            originNo = #{no},
            Count = 0,
            Reg_Date = now()  
    </insert>

    <update id="updateBoard" parameterType="boardDto">
        UPDATE board
        SET
            Title = #{title},
            Content = #{content}
        WHERE No = #{no}
    </update> 

    <update id="updateReplyCount" parameterType="int">
        UPDATE board
        SET
            groupOrd = groupOrd + 1,
        WHERE
            originNo = #{originNo}
            and
            groupOrd > #{groupOrd}
    </update>
    <update id = "updateOriginNo" parameterType="int">
        UPDATE board
        SET
            originNo = #{originNo}
        WHERE
            No = #{originNo}
    </update>
    
    <delete id="deleteBoard" parameterType="int">
        DELETE 
        FROM board 
        
        WHERE No = #{no}
    </delete>
    
    <select id="selectOneBoard" parameterType="int" resultType="boardDto">
        SELECT 
            No,
            Title,
            Content,
            Count,
            Reg_Date as regDate 
        FROM board
        WHERE No = #{no}
        ORDER BY Reg_Date DESC 
    </select>
    <update id="updateHitCnt" parameterType="hashmap">

         UPDATE board
         SET Count = Count + 1
         WHERE No = #{no}

    </update>

    <select id="selectAllBoard" resultType="boardDto">
        SELECT
             No,
             Title,
             Count,
             Reg_Date as regDate 
        FROM board
        <if test="words != null">
            WHERE Title LIKE CONCAT('%',#{words},'%') OR Content LIKE CONCAT('%',#{words},'%')
        </if>
        ORDER BY
            originNo DESC,
            groupOrd ASC
        LIMIT #{startPage}, #{endPage}
    </select>

    <select id = "getBoardListCnt" resultType = "int">
        SELECT
            Count(*) as listCnt
        FROM board
        <if test="value != null">
            WHERE Title LIKE CONCAT('%',#{value},'%') OR Content LIKE CONCAT('%',#{value},'%')
        </if>
    </select>
    <select id = "getCountGroupLayer" resultType = "int">
        SELECT groupLayer
        FROM board
        WHERE No=#{no}
    </select>
    <select id = "getLastNo" resultType = "int">
        SELECT No
        FROM board
        ORDER BY Reg_Date DESC
        LIMIT 1
    </select>
    <select id = "getGroupOrd" resultType="int">
        SELECT groupOrd
        FROM board
        WHERE No=#{no}
    </select>
</mapper>

