<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="jk.tutorial.demo.dao.BoardMapper">
<sql id="title">
    <choose>
        <when test="title != null">
            #{title}
        </when>
        <otherwise>
            '제목없음'
        </otherwise>
    </choose>
</sql>

<sql id="content">
    <choose>
        <when test = "content != null">
            #{content}
        </when>
        <otherwise>
            '내용없음'
        </otherwise>
    </choose>
</sql>

    <insert id="insertBoard" parameterType="boardDto">
        INSERT INTO board VALUES 
        (0, 
        <include refid="title"/>, 
        <include refid="content"/>,
        #{count}, SYSDATE())
    </insert>
    
    <update id="updateBoard" parameterType="boardDto">
        UPDATE board SET
        title = <include refid="title"/>,
        content = <include refid="content"/>,
        WHERE No = #{No}
    </update> 
    
    <delete id="deleteBoard" parameterType="int">
        DELETE FROM board WHERE No = #{no}
    </delete>
    
    <select id="selectOneBoard" parameterType="int" resultType="boardDto">
        SELECT * FROM board WHERE No = #{no}
    </select>
    
    <select id="selectAllBoard" resultType="boardDto">
        SELECT * FROM board
    </select>
</mapper>

